/* courses.css */

nav img{
    width: 150px;
    cursor: pointer;
}
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
nav .navigation li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover{
    color: #fff;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #f3d600;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.course-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.courses {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(20.333% - 20px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.courses h1{
    text-align: center;
    color: #007BFF;
    font-size: 130px;
}

.courses:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.courses img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.courses:hover img {
    opacity: 0.8;
}

.details {
    padding: 15px;
}

.details h6 {
    margin: 10px 0;
    font-size: 18px;
    color: #007BFF;
}

.cost {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

/* Style for the hover links */
.right-links {
    position: fixed;
    right: -150px;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.3s ease;
}

.right-links a {
    display: block;
    padding: 15px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.right-links a:hover {
    background-color: #0056b3;
}

body:hover .right-links {
    right: 0; 
}

@media (max-width: 768px) {
    .content h1 {
        font-size: 60px;
    }

    .content h2 {
        font-size: 30px;
    }

    .content p {
        font-size: 16px;
    }

    .content form input {
        width: 80%;
    }
}

/* Basic styling for the button */
#backToTopBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #007BFF; 
    color: white; 
    cursor: pointer;
    padding: 15px; 
    border-radius: 50%; 
    font-size: 18px; 
    transition: background-color 0.3s, transform 0.3s;
}

#backToTopBtn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

#backToTopBtn:hover {
    background-color: #0056b3; 
    transform: scale(1.1); 
}